nav {
  width: 100%;
}

h1 {
  width: 100%;
  font-weight: bolder;
  color: #f3f3f3;
  text-align: center;
  background: var(--pokeRedBgColor);
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }
}

ul {
  width: 100%;
  display: flex;
}
